
<div class="" style="width: 100px;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid flex-column">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
                <a class="navbar-brand mb-4" href="#">
                    <img src="https://lineone.piniastudio.com/images/app-logo.svg" alt="Bootstrap" width="55" height="55">   
                </a>

                <a class="navbar-brand mb-4" title="Dashboard" href="#">
                    <fa-icon [icon]="firstIcon"></fa-icon>
                </a>

                <a class="navbar-brand mb-4" title="Applications" href="#">
                    <fa-icon [icon]="secondIcon"></fa-icon>
                </a>

                <a class="navbar-brand mb-4" title="Pages & Layouts" href="#">
                    <fa-icon [icon]="thirdIcon"></fa-icon>
                </a>

                <a class="navbar-brand mb-4" title="Forms" href="#">
                    <fa-icon [icon]="fourthIcon"></fa-icon>
                </a>

                <a class="navbar-brand mb-4" title="Components" href="#">
                    <fa-icon [icon]="fifthIcon"></fa-icon>
                </a>

                <a class="navbar-brand mb-5" title="Elements" href="#">
                    <fa-icon [icon]="sixthIcon"></fa-icon>
                </a>

                <a class="navbar-brand mb-3" title="Settings" href="#">
                    <fa-icon [icon]="sevenIcon"></fa-icon>
                </a>

                <a class="navbar-brand mb-3" title="User" href="#">
                    <fa-icon [icon]="eightIcon" style="font-size: 30px;"></fa-icon>
                </a>
            </div>
        </div>
    </nav>
</div>